@import './_partials/full-width-container';
@import './_partials/colors';

$page_width: 32em !default;

// Everything should be wrapped in a `.page-container`.
.page-container {
  margin: auto;
  padding: 64px 16px 24px;
  max-width: $page_width;

  header {
    display: flex;
    align-items: center;

    .header {
      flex-grow: 1;
    }

    .avatar {
      flex-grow: 0;
      height: 32px;
      width: 32px;
      border-radius: 50%;
    }
  }

  .content-container {
    margin: auto;
    width: 100%;

    section {
      margin: 32px 0 56px;

      .header {
        font-size: 20px;
        margin-bottom: 16px;
      }

      .description {
        text-align: center;
        font-style: italic;
      }
    }

    .full-width-container {
      margin-top: 48px;
      margin-bottom: 36px;
    }
  }

  .footer {
    text-align: center;
    font-size: 12px;
    color: $secondary_text_color;
  }

  p.text {
    margin-left: 12px;
  }
}
