@import './_partials/colors';

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
footer {
  font-family: Vollkorn, 'PingFang SC', 'Helvetica', Arial;
}

a {
  text-decoration: none;
  color: $primary_color;
}

a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.center {
  text-align: center;
}
